<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7471b5">  <td>20/07/09 11:36:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Activity6.closeDriver()[pri:0, instance:testNGTests.Activity6@51565ec2]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>20/07/09 11:35:47</td>   <td>-12936</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Activity6.initiateDriver()[pri:0, instance:testNGTests.Activity6@51565ec2]">&gt;&gt;initiateDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1121647253</td>   <td></td> </tr>
</table>
